body{
    position: relative;
    background-color: rgb(29,26,33);
    font-family:"Helvetica Neue",MicroSoft YaHei, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.navbar-brand img{
    margin-top: -7px;
    width:35px;
    height:35px;
}
#home{
    background:url(../images/train.jpg) repeat-x;
    background-size:cover;
    overflow: hidden;
}
.back-wall{
    width:100%;
    height: 100%;
    background-color: rgba(29, 26, 33,0.8);
}
section .container-fluid{
    padding-top: 50px;
}
.navbar-fixed-top{
}
.instance{
    overflow: hidden;
}
.phone{
    height:500px;
    width:300px;
}
@media (max-width: 992px) {
    .left-brief{
        display: none;
    }
    .phone{
        display: none;
    }
    .thumbnail{
        padding-top: 4px !important;
    }
    .thumbnail img{
        display: none !important;
    }
    .thumbnail .desktop{
        display: none;
    }
    .thumbnail .pad{
        display: block !important;
    }
}
@media (max-width: 768px) {
    .product{
        margin-top: 30px !important;
    }
    .phone{
        display: none;
    }
    h1{
        font-size: 24px !important;
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 18px !important;
        margin-top: 10px !important;
    }
    .func{
        margin-top: 30px !important;
    }
    #contact{
        padding-top: 20px !important;
    }
    .input-lg{
        padding: 4px 8px;
        font-size: 14px;
    }
    .copyright{
        margin-top: 15px !important;
        padding-top: 10px !important;
    }
    #contact h3{
        margin-bottom: 15px !important;
    }
}
.phone img{
    min-width: 300px;
    max-height: 500px;
    position: absolute;
    box-shadow: 0px 0px 20px #ccc;
}
.left-phone{
    left:20%;
    top:4%;
}
.right-phone{
    left: 38%;
    top:2%;
}
.download{
    color: white;
}
.product{
    margin-top: 80px;
}
.product img{
    width:80px;
    height:80px;
}
.brief-intro .left-brief{
    padding-top: 100px;
}
.brief-intro .left-brief img{
    box-shadow: 0 0 20px #eee;
    width:350px;
    height:225px;
}
.brief-intro .right-brief{
    color: white;
    padding-top: 60px;
}
.thumbnail img{
    width:200px;
    height: 200px;
    border-radius: 100px;
    box-sizing: content-box;
    -webkit-background-size: cover;
    background-size: cover;
}
.func{
    margin-top: 60px;
}
.thumbnail {
    padding-top:10px;
    box-shadow: 0px 0px 10px #fff;
}
.thumbnail .pad{
    display: none;
}
#down{
    padding-top: 100px;
    color: white;
    background-size: cover;
    background: url(../images/down.png) no-repeat center center;
    overflow: hidden;
}
#contact{
    color: white;
    padding-top: 80px;
}
.copyright{
    margin-top: 160px;
    border-top: 1px solid white;
    padding-top: 20px;
}
#contact h3{
    margin-bottom: 30px;
}
